{% extends "layout.html" %}

{% block title %}
    Anasayfa
{% endblock title %}

{% block content %}
    <div class="jumbotron text-center">
        <h3 cen>Bloğuma hoşgeldiniz.</h3>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo erat sit amet erat semper commodo. Nam eu ipsum ut arcu placerat commodo. Aliquam cursus sollicitudin condimentum. Quisque mollis a orci ut tincidunt. In et hendrerit felis. Mauris tincidunt viverra ex. Cras leo leo, ultricies id elit nec, rutrum tempor elit. Morbi semper, tortor semper egestas blandit, urna diam faucibus massa, vel feugiat risus est at odio. Cras fringilla porttitor metus eu efficitur. Fusce et lorem nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis cursus molestie nisl vitae aliquam. Integer finibus suscipit porta. Sed eget mollis sapien, vel ultrices nisl. Fusce turpis magna, vestibulum sit amet orci ac, tristique faucibus massa.</p>
    </div>

{% endblock content %}